.task-input {
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--text);
    display: flex;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .task-input * {
    border-radius: 5px;
  }
  
  .task-input input {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
  }
  
  .task-input button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
  }