.container_comp_reg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg') !important;
    position: fixed;

}

.login-form {
    transform-style: preserve-3d;

}

.login-form {
    position: absolute;
    top: 20vh;
    min-width: 325px;
    z-index: 1000;
}

.login-form .login-form-forgot {
    float: right;
}

.login-form .login-form-button {
    width: 100%;
    margin: 10px 0;
}
.login-form h1{
    color: darkblue;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}